{% extends "base.html" %}
{% block description %}The archives page, find old stuff organized by date.{% endblock %}
{% block title %}Archive — {{ SITENAME }}{% endblock %}
{% block content %}

<h1>Архив</h1>

<table class="table">
    <tbody>
    {% for article in dates %}
        <tr>
        <td>{{ article.date.strftime("%d %b %Y") }}</td>
        <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
