{% extends "base.html" %}
{% block description %}Title: {{ article.title }}; Date: {{ article.date|strftime('%Y-%m-%d') }}; Author: {{ article.author }}{% endblock %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}
{% block content %}
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="text-center article-header">
		<h1 itemprop="name headline" class="article-title">{{ article.title }}</h1>
		<span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<h4 itemprop="name">{{article.author or "Wilson Freitas"}}</h4>
		</span>
		<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
	</div>
	{% if article.category %}
	<div>
		Категория:
		<span itemprop="articleSection">
			<a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
		</span>
	</div>
	{% endif %}
	{% if article.tags %}
	<div>
		Теги:
		{% for tag in article.tags %}
		<span itemprop="keywords">
			<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
		</span>
		{% endfor %}
	</div>
	{% endif %}
	<div itemprop="articleBody" class="article-body">{{ article.content }}</div>
	<hr>
	<span class='st_vkontakte_hcount' displayText='Vkontakte'></span>
	<span class='st_facebook_hcount' displayText='Facebook'></span>
	<span class='st_twitter_hcount' displayText='Tweet'></span>
	<hr>
	<h2>Комментарии</h2>
	{% include "twitter.html" %}
	{% include 'disqus.html' %}
</div>
{% endblock %}
